<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<p th:text="${user.id}">id</p>
<p th:text="${user.firstName}">first name</p>
<p th:text="${user.lastName}">last name</p>
<p th:text="${user.username}">email</p>
<p th:text="${user.age}">age</p>
<div>
    <span th:each="role, stat : ${user.roles}">
        <span th:text="${role.name}"></span>
        <span th:if="${!stat.last}">, </span>
    </span>
</div>
<a th:href="@{/admin/edit?id={id}(id=${user.getId()})}">Edit</a>
<form th:method="POST" th:action="@{/admin/delete?id={id}(id=${user.getId()})}">
    <input type="submit" value="Delete user"/>
</form>
<form action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit">Выйти</button>
</form>
</body>
</html>